

body {
    background-color: #3498db;
    margin: 0;
    padding: 0;
}
.carousel {
    width: 70%;
    background-color: #3498db;
    margin: 30px auto;
    height: 300px;
}

.carousel-nav {
    height: 90px;
    width: 60%;
    background-color: #3498db;
    margin: 0 auto;
}
.carousel img {
    height: 300px;
    width: auto;
    margin: 0 auto;
}

.carousel-nav img {
    height: 90px;
    width: auto;
    margin: 0 auto;
}



#contact-form label {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

#contact-form input {
    display: inline-block;
}

#contact-form label.error {
    color: red;
    font-style: italic;
    font-size: .75em;
    margin-left: 10px;
    display: inline;
    width: auto;
}

/**********************
HEADING
**********************/
.header {
   background-image: url(https://image.ibb.co/c5g8C6/Header_xmas_store.png); 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
   width: auto;
   display: block;
   background-color: #030326;

}


/**********************
PRODUCTS PAGE
**********************/
body {
    margin: 0;
}

.products {
    padding-bottom: 42px;
}

.products h2 {
    font-size: 24px;
    text-align: center;
    line-height: 1;
    font-weight: normal;
}

.products ul.item li {
    display: inline-block;
    list-style: none;
    width: 250px;
    text-align: center;
    margin: 0 0 3px 3px;
    position: relative;
    left: -17px;
}

.products ul.item li a {
    display: block;
    text-decoration: none;
}

.container:hover .img {
    opacity: .5;
}

.products ul.item li img {
    width: 200px;
    height: auto;
    border: 1px solid #f0eeed;
}

.products ul.item li p {
    margin-left: 0;
    margin-right: 0;
    width: auto;
}

.middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .btn {
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    padding: 10px 25px;
  }

  .container:hover .middle {
    opacity: 1;
  }

/**********************
FOOTER
**********************/
.footer {
    font-size: 1em;
    padding: 5px;
    text-align: center;
    color: #ffcc00;
    background: #030326;
    left: 0;
    bottom: 0;
    width: 100%;
  }

/**********************
NAVIGATION
**********************/

nav {
    text-align: center;
    padding: 10px 0;
    background: #ec2426;
  }
  
  nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    font-weight: 600;
    padding: 15px 10px;
  }

  /* Nav Links */
  nav a {
    color: white;
  }
  
  /* Selected Nav Links */
  nav a:hover {
    color: #ee9321;
  }

/* Search Page */

.search-form {
    margin: 10px auto;
    width: auto;
    display: block;
    text-align: center;
}

.category-container {
    display: block;
    margin: 10px auto;
    text-align: center;
}

ul.category-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.category-list li {
    display: inline-block;
    font-size: .75em;
    background: #ec2426;
    border-radius: 3px;
    padding: 5px;
}

ul.category-list li:hover {
    background: #c00004;
}

ul.category-list li a {
    display: block;
    text-decoration: none;
    color: white;
}
